.front
{
    .title,
    .block-system-main
    {
        display: none;
    }
}

.view-front-headers
{
    position: relative;
    
    .background
    {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        
        & > div
        {
            display: table;
            width: 100%;
            height: 100%;
            
            & > div
            {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    
    .views-field-body
    {
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,0.25);
        font-weight: 500;
        padding: 0 40px;
        
        img
        {
            -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
            -moz-filter: drop-shadow(0 1px 3px rgba(0,0,0,0.25));
            filter: drop-shadow(0 1px 3px rgba(0,0,0,0.25));
        }
        .rtecenter img
        {
            margin: 0 auto;
        }
        
        a
        {
            color: white;
            text-decoration: underline;
        }
    }
    
    .views-field-field-button-text a
    {
        display: block;
        margin: 20px auto 0 auto;
        color: white;
        text-decoration: none;
        font-weight: 500;
        text-transform: lowercase;
        line-height: 40px;
        width: 160px;
        text-align: center;
        border: 2px solid white;
        border-radius: 4px;
        outline-color: $seafoam;
        transition: all 0.2s;
        
        &:hover, &:focus
        {
            background: white;
            color: $seafoam;
        }
    }
    
    .slick-arrow
    {
        position: absolute;
        top: 50%;
        width: 30px;
        height: 50px;
        margin-top: -25px;
        font-size: 0;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .slick-prev
    {
        background-image: url(../img/arrow-large-left.svg);
        left: 2%;
    }
    .slick-next
    {
        background-image: url(../img/arrow-large-right.svg);
        right: 2%;
    }
}

.view-front-features
{
    overflow: hidden;
    
    .views-row
    {
        position: relative;
        float: left;
        width: 33.333%;
        border-top: 1px solid white;;
        border-left: 1px solid white;
        margin-left: -1px;
    }
    img
    {
        display: block;
        width: 100%;
        height: auto;
    }
    .feature-text
    {
        position: absolute;
        padding: 30px 30px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        color: white;
        font-weight: 500;
        
        &.topleft
        {
            top: 0;
            left: 0;
        }
        &.topright
        {
            top: 0;
            right: 0;
        }
        &.bottomleft
        {
            left: 0;
            bottom: 0;
        }
        &.bottomright
        {
            right: 0;
            bottom: 0;
        }
        
        h2
        {
            color: white;
            text-transform: lowercase;
            font-weight: 500;
            line-height: 1;
        }
        
        a
        {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0 8px;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}


.block.recent-title
{
    clear: both;
    width: 80%;
    margin: 0 auto;
    
    h2
    {
        text-transform: lowercase;
        text-align: center;
        line-height: 110px;
        padding-top: 20px
    }
}
.block.recent
{
    float: left;
    width: 33%;
}
.block-views-recent-block-girls
{
    margin-left: 0.5%;
}
.block-views-recent-block-moms
{
    margin-right: 0.5%;
}
.view-recent
{
    margin: 40px 0 60px 0;
    height: 344px;
    position: relative;
    
    a
    {
        outline-color: $seafoam;
    }
    
    .view-content
    {
        width: 250px;
        margin: 0 auto;
        text-align: center;
        font-weight: 500;
        position: relative;
    }
    .views-field-field-image
    {
        height: 200px;
    }
    img
    {
        display: block;
        margin: 0 auto;
    }
    .views-field-title a
    {
        display: block;
        color: $seafoam;
        text-transform: lowercase;
        font-size: 1.333em;
        text-decoration: none;
        margin-top: 20px;
        line-height: 1;
        max-height: 2em;
        overflow: hidden;
        
        &:hover
        {
            text-decoration: underline;
        }
    }
    .views-field-field-age,
    .views-field-commerce-price
    {
        color: #b4b4b4;
        display: inline-block;
        padding: 0 10px;
        font-size: 0.833em;
        line-height: 1;
    }
    .views-field-field-age
    {
        border-right: 2px solid #ccc;
        margin-right: -4px;
    }
    .slick-arrow
    {
        font-size: 0;
        display: block;
        width: 20px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        background-repeat: no-repeat;
        background-position: center center;
        text-decoration: none;
    }
    .slick-prev
    {
        left: 0;
        background-image: url(../img/arrow-left.svg);
    }
    .slick-next
    {
        right: 0;
        background-image: url(../img/arrow-right.svg);
    }
    .view-footer
    {
        position: absolute;
        top: 300px;
        left: 0;
        width: 100%;
    }
    .shop
    {
        display: block;
        margin: 0 auto;
        color: $seafoam;
        text-decoration: none;
        line-height: 40px;
        height: 40px;
        width: 160px;
        border: 2px solid $seafoam;
        border-radius: 4px;
        text-align: center;
        font-weight: 500;
        transition: all 0.2s;
        
        &:hover, &:focus
        {
            background: $seafoam;
            color: white;
        }
    }
}

.block.quote
{
    background: #9ed6bd;
    background: radial-gradient(ellipse farthest-side, #addcc7, #97d3b8);
    color: white;
    clear: both;
    padding: 40px 0 50px 0;
    text-align: center;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2) inset;
    
    .quote-text
    {
        font-size: 3em;
        line-height: 1.1;
        width: 80%;
        margin: 0 auto;
        text-shadow: 1px 1px 3px #7ebc91;
        font-weight: 300;
    }
    .cite
    {
        font-size: 1.111em;
        padding: 20px;
        text-shadow: 1px 1px 3px #7ebc91;
    }
    .story-button a
    {
        display: block;
        margin: 0 auto;
        background: #9fcfba;
        color: white;
        text-decoration: none;
        line-height: 40px;
        height: 40px;
        width: 160px;
        border: 2px solid white;
        border-radius: 4px;
        text-align: center;
        font-weight: 500;
        transition: all 0.2s;
        
        &:hover, &:focus
        {
            background: white;
            color: $seafoam;
        }
    }
}

.block.contributions
{
    padding: 50px 0 60px;
    clear: both;
    
    h2
    {
        color: $seafoam;
        text-transform: lowercase;
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 25px;
    }
    
    .block-content,
    .node-content
    {
        width: 80%;
        margin: 0 auto;
    }
    form
    {
        padding-top: 30px;
    }
    .form-item
    {
        margin: 0.333em 0;
    }
    .webform-component--preferred-pick-up-date select
    {
        display: none;
    }
    .webform-component-textfield,
    .webform-component-email,
    .webform-component-date
    {
        float: left;
        width: 47.5%;
        
        input
        {
            color: $seafoam;
            border: 0;
            border-bottom: 1px solid #b2b2b2;
            font-size: 1em;
            width: 100%;
            padding: 10px 15px;
            outline-color: $seafoam;
            box-sizing: border-box;
            border-radius: 0;
            -webkit-appearance: none;
            
            &::-webkit-input-placeholder
            {
                color: $seafoam;
            }
            &:-ms-input-placeholder
            {
                color: $seafoam;
            }
            &::-moz-placeholder
            {
                color: $seafoam;
            }
        }
    }
    .webform-component--first-name,
    .webform-component--email,
    .webform-component--address
    {
        margin-right: 5%;
    }
    .form-actions
    {
        clear: both;
        margin: 0;
        padding-top: 40px;
    }
    .form-submit
    {
        display: block;
        margin: 0 auto;
        color: $seafoam;
        background: white;
        cursor: pointer;
        font-size: 1em;
        line-height: 40px;
        height: 40px;
        width: 160px;
        text-align: center;
        border: 2px solid $seafoam;
        border-radius: 4px;
        text-transform: lowercase;
        box-sizing: content-box;
        outline-color: $seafoam;
        -webkit-appearance: none;
        transition: all 0.2s;
        
        &:hover, &:focus
        {
            background: $seafoam;
            color: white;
        }
    }
}
