body
{
    color: #777;
    background: $seafoam;
}

h1, h2, h3, h4, h5, h6
{
    color: $seafoam;
    font-weight: 300;
}
h1
{
    font-size: 2.5em;
}
h2
{
    font-size: 2em;
}
h3
{
    font-size: 1.5em;
}
h4
{
    font-size: 1.25em;
}
h5, h6
{
    font-size: 1em;
}

p
{
    line-height: 1.5;
    margin-bottom: 0.8em;
    
    &:last-child
    {
        margin-bottom: 0;
    }
}

.menu
{
    list-style: none;
    text-transform: lowercase;
}

.page-wrapper
{
    overflow: hidden;
    padding-top: 50px;
}

.navigation
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $seafoam;
    color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-weight: 500;
    z-index: 100;
}
.navbar-fixed .navigation
{
    top: 39px;
}
.navbar-horizontal.navbar-tray-open .navigation
{
    top: 79px;
}
.navbar-vertical.navbar-tray-open .navigation
{
    left: 240px;
}

.logo
{
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    
    &:hover, &:focus
    {
        background: rgba(0,0,0,0.05)
    }
    &:active
    {
        background: rgba(0,0,0,0.1);
    }
    
    img
    {
        vertical-align: middle;
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.15));
        -moz-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.15));
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.15));
    }
}
.menu-main-menu
{
    text-align: center;
    clear: both;
    background-color: rgba(255,255,255,0.2);
    
    li
    {
        display: inline-block;
        padding: 5px 0;
        margin: 0 1%;
    }
    a
    {
        display: block;
        padding: 0 19px;
        height: 40px;
        line-height: 40px;
        color: white;
        text-decoration: none;
        
        &:hover, &:focus
        {
            text-decoration: underline;
            background-color: rgba(0,0,0,0.05);
        }
        &:active
        {
            background-color: rgba(0,0,0,0.1);
        }
    }
    
    & > ul > li
    {
        &:hover
        {
            & > a
            {
                background-color: rgba(0,0,0,0.05);
            }
            & > ul
            {
                visibility: visible;
                opacity: 1;
            }
        }
        
        & > ul
        {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            padding: 30px 1.5%;
            text-align: left;
            box-shadow: 0 4px 4px rgba(0,0,0,0.1);
            transition: visibility 0s, opacity 0.5s;
            
            a
            {
                color: $seafoam;
                
                &:hover, &:focus
                {
                    background-color: rgba(0,0,0,0.025);
                }
                &:active
                {
                    background-color: rgba(0,0,0,0.05);
                }
            }
            
            & > li
            {
                float: left;
                width: 22%;
                padding: 10px 1.5%;
                margin: 0;
                
                & > a
                {
                    border-bottom: 1px solid $seafoam;
                }
            }
            ul
            {
                font-weight: 300;
                
                li
                {
                    display: block;
                    margin: 0;
                }
            }
        }
    }
}
.region-navigation
{
    float: right;
    font-size: 0.888em;
    
    .block
    {
        float: left;
    }
    
    .block-content
    {
        padding: 5px 0;
        
        li
        {
            display: block;
            float: left;
            border-right: 1px solid #c6e6d0;
            
            &.last
            {
                border-right: 0;
            }
        }
        a
        {
            display: block;
            padding: 0 19px;
            height: 40px;
            line-height: 40px;
            color: white;
            text-decoration: none;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
            
            &:hover, &:focus
            {
                text-decoration: underline;
                background-color: rgba(0,0,0,0.05);
            }
            &:active
            {
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}
.block-commerce-cart-cart .block-content
{
    & > div
    {
        border-left: 1px solid #c6e6d0;
    }
    a
    {
        padding-left: 19px + 28px;
        background-image: url(../img/icon-bag.svg);
        background-repeat: no-repeat;
        background-position: 19px center;
    }
    .num
    {
        display: inline-block;
        background: #b6e0cd;
        background: rgba(255,255,255,0.3);
        border-radius: 3px;
        padding: 0 8px;
        margin-left: 10px;
        height: 24px;
        line-height: 24px;
    }
}
.block-search-form .block-content
{
    & > form
    {
        border-right: 1px solid #c6e6d0;
    }
}
.search-button a
{
    font-size: 0;
    display: block;
    width: 19px;
    height: 38px;
    background: url(../img/icon-search.svg) no-repeat center center;
}
.search-container
{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #b8e3d0;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    
    .form-text
    {
        background: transparent url(../img/icon-search.svg) no-repeat 15px center;
        border: 0;
        color: white;
        font-size: 2.5em;
        padding: 8px 8px 8px 48px;
        display: block;
        width: 75%;
        margin: 0 auto;
        outline-color: white;
        font-weight: 300;
        
        &::-webkit-input-placeholder
        {
            color: white;
        }
        &::-moz-placeholder
        {
            color: white;
        }
        &:-ms-input-placeholder
        {
           color: white;  
        }
    }
    .form-actions
    {
        position: absolute;
        left: -99999px;
    }
    
    .search-close a
    {
        display: block;
        font-size: 0;
        width: 35px;
        height: 35px;
        background: url(../img/icon-close.svg) no-repeat center center;
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        left: 87.5%;
        margin-left: 35px;
    }
}

.main-wrapper
{
    background: white;
    overflow: hidden;
}

.block.contributions
{
    padding: 70px 0;
    
    h2
    {
        color: $seafoam;
        text-transform: lowercase;
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 25px;
    }
}

.footer
{
    background: $seafoam;
    color: white;
    padding: 48px 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15) inset;
    
    a
    {
        color: white;
        text-decoration: none;
        
        &:hover, &:focus
        {
            text-decoration: underline;
        }
    }
}
.footer-top
{
    padding-bottom: 48px;
    border-bottom: 1px solid #82c2a5;
}
.footer-bottom
{
    overflow: hidden;
    border-top: 1px solid #bfe7d5;
    padding-top: 48px;
}

.block-menu-menu-footer-menu 
{
    float: left;
    width: 80%;
    max-width: 540px;
    
    .block-content
    {
        ul ul
        {
            float: left;
            width: 33.333%;
        }
        a
        {
            height: 40px;
            line-height: 40px;
        }
    }
}
.block-menu-menu-footer-social-menu
{
    float: right;
    
    .block-content
    {
        li
        {
            float: left;
            margin: 0 6px;
        }
        a
        {
            position: relative;
            display: block;
            height: 21px;
            width: 20px;
            background-position: center center;
            background-repeat: no-repeat;
            font-size: 0;
            padding: 6px;
            
            &:focus, &:hover
            {
                opacity: 0.85;
            }
            &:after
            {
                display: block;
                content: "";
                transition: all 0.2s;
                width: 21px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                margin-left: 6px;
                margin-top: 6px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                opacity: 1;
            }
            &:active:after
            {
                width: 1000%;
                height: 1000%;
                left: -500%;
                top: -500%;
                opacity: 0;
            }
        }
        .fb, .fb:after
        {
            background-image: url(../img/icon-fb.svg);
        }
        .tw, .tw:after
        {
            background-image: url(../img/icon-tw.svg);
        }
        .ig, .ig:after
        {
            background-image: url(../img/icon-ig.svg);
        }
        .pin, .pin:after
        {
            background-image: url(../img/icon-pin.svg);
        }
    }
}
.block-menu-menu-footer-bottom-menu
{
    float: left;
    padding: 8px 0;
    
    .block-content li
    {
        float: left;
        padding: 0 12px;
        border-left: 1px solid #d5f5df;
        font-size: 0.888em;
        line-height: 1;
        
        &.first
        {
            padding-left: 0;
            border-left: 0;
        }
    }
}
.copyright
{
    float: right;
    font-size: 0.888em;
    line-height: 1;
    padding: 8px 0;
}
.footer-logo
{
    position: absolute;
    left: 50%;
    margin-left: -20px;
}
