.view-social
{
    .popup
    {
        width: 100%;
        height: 480px;
        margin-top: -240px;
        margin-left: 0;
        left: 0;
    }
    .popup-arrow
    {
        margin-top: -302px;
    }
    .popup-close
    {
        margin-top: -302px;
    }
    .popup-prev
    {
        left: 20px;
        margin-left: 0;
    }
    .popup-next
    {
        right: 20px;
        margin-right: 0;
    }
    .photo img
    {
        width: 480px;
        height: 480px;
    }
    .right
    {
        padding: 20px;
    }
    .social-username
    {
        margin-bottom: 10px;
    }
    .shop-link a
    {
        margin-top: 10px;
    }
}
.view-social-related-products
{
    margin-top: 10px;
}

#user-profile-form
{
    .edit-account,
    .form-actions
    {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
}
.view-commerce-addressbook
{
    margin: 2em auto 0 auto;
}

.view-products > .view-content > .views-row
{
    width: 33.333%;
}

.view-social > .view-content > .views-row
{
    width: 33.333%;
}

.login-form,
.register-form
{
    width: 47%;
}
.login-form
{
    margin-right: 3%;
}
.register-form
{
    margin-left: 3%;
}
#user-login,
#user-register-form
{
    label
    {
        width: 40%;
    }
    .form-type-textfield,
    .form-type-password
    {
        input
        {
            width: 57%;
        }
    }
}

img.our-story
{
    width: 300px !important;
    height: auto !important;
    margin-bottom: 30px;
}

.path-contact .block-system-main form
{
    padding-right: 60px;
}
