.block-search-form .search-button a,
.block-system-user-menu a.account-icon
{
    width: 45px;
}
.logged-in .block-system-user-menu a.account-icon
{
    padding-left: 30px;
    padding-right: 12px;
    background-position: 12px center;
}
.block-commerce-cart-cart .block-content a
{
    padding-left: 40px;
    padding-right: 12px;
    background-position: 12px center;
}
.mobile-menu-btn a
{
    width: 45px;
}
